<!DOCTYPE html>
<html lang="pt-br">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" type="image/x-icon" sizes="512x512" href="./View/Assets/Images/Favicon.png">

        <link rel="stylesheet" type="text/css" href="./View/Assets/CSS/Global.css">

        <title> Página Inexistente </title>

        <style>

            body {

                gap: 50px;

            }

            figure {

                height: 300px;
                width: 300px;
                overflow: hidden;

            }

            img {

                height: 100%;
                width: 100%;

            }

        </style>

    </head>

    <body>

        <figure> <img src="./View/Assets/Images/Favicon.png" alt="Icon"> </figure>

        <h2> Página não encontrada! </h2>

        <a href="/"> Voltar </a>
        
    </body>

</html>